body {
    background-color: antiquewhite;
}

.container {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.container-calculator {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(6, 85px);
    justify-content: center;
    gap: 5px;
    background-color: #332E27;
    color: white;
    width: 450px;
    padding: 0 0 25px 0;
    border-radius: 5px;
    
    .btn {
        border-radius: 5px;
        background-color: #BAA5D9;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .btn:hover {
        background-color: rgba(0, 0, 0, 0.397);
    }

    .btn-equals,
    .btn-clear {
        background-color: #7D728C;
    }

    #display {
        grid-column: 2/5;
        justify-self: end;
    }

    #clear {
        grid-column: 1/3;
    }

    #zero {
        grid-column: 1/3;
    }

    #equals {
        grid-row: 5/7;
        grid-column: 4/5;
    }
}

@media (max-width: 468px) {
    .container-calculator {
        grid-template-columns: repeat(4, 65px);
        grid-template-rows: repeat(6, 65px);
        width: 350px;
    }
}